<ion-view title="Add Classes" class="padding">
  <ion-content>
    <div class ="list" >
     <label class="item item-input">
        <span class="input-label">Class-Title</span>
        <input type="text" ng-model="classTitle">
     </label>
     <label class="item item-input">
        <span class="input-label">Class-Id</span>
        <input type="number" ng-model="classId">
     </label>

     <label class="item item-input">
        <span class="input-label">Class-Image-Link</span>
        <input type="text" ng-model="classImage">
     </label>

     <label class="item item-input">
        <span class="input-label">Class-Description</span>
        <input type="text" ng-model="classDescription">
     </label>

     <div class="padding">
        <button  ng-click="addClass()" ng-disabled="!classTitle || !classId" class="button button-block button-balanced">Add Class
        </button>
     </div>
     <!--Sign up button
     <div class="padding">
       <button ui-sref="register" class="button button-block button-calm">Sign Up
      </div>
   -->
  </div>
  </ion-content>
</ion-view>
