<ion-view view-title="CLASS FINDER" >
  <ion-content class="padding">
    <div class="buttons text-right">
       <button class="button button-small button-clear" ng-click="lm.skip()"><strong>Skip</strong></button>
    </div>
    <div class="padding text-center">
      <h1 style="font-size:34px; color:orange;">Welcome To Class Finder</h1>
      <h3>Please login or Register </h3>
    </div>
    <div  style="color:red;font-size:14px;font-style:italic;">
      <span>{{lm.loginError}}</span>
    </div>
  <div class ="list" >
   <label class="item item-input">
      <span class="input-label">Email</span>
      <input type="email" ng-model="lm.email">
   </label>
   <label class="item item-input">
      <span class="input-label">Password</span>
      <input type="password" ng-model="lm.password" ng-minlength="3">
   </label>
   <div class="padding">
      <button  ng-click="lm.validate()" ng-disabled="!lm.email || !lm.password" class="button button-block button-balanced">Sign In
      </button>
   </div>
   <!--Sign up button-->
   <div class="padding">
     <button ui-sref="register" class="button button-block button-calm">Sign Up
    </div>

</div>
</ion-content>
</ion-view>
