<ion-view view-title="Account">

  <ion-content>
    <ion-list>

    <ion-item ng-show="al.loggedIn" ng-click="al.logout()" class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap">
  <h2>Logout</h2>
  <p>Welcome <strong>{{name}}</strong></p>
 </ion-item>
<ion-item ng-show="!al.loggedIn" ui-sref="main" class="ng-hide item-remove-animate item-avatar item-icon-right" type="item-text-wrap">
  <h2> Login</h2>
  <p>Please login to add classes and save to favourites</p>
</ion-item>

<ion-item ng-show="al.loggedIn" class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap"  href="#/tab/account/{{al.userId}}">
   Add Classes
  <i class="icon ion-chevron-right icon-accessory"></i>
</ion-item>
    </ion-list>
  </ion-content>
</ion-view>
